body {
    background-color: #2e2e2e;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Navigation bar styling */
header {
    background-color: #4D1979;
    color: white;
}

h1 {
    background-color: #dimgray;
    color: white;
    justify-content: center;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 15px;
    display: block;
}

.nav-menu a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Main content styling */
main {
    padding: 20px;
    text-align: center;
}
