body {
    background-color: #2e2e2e;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Navigation bar styling */
header {
    background-color: #4D1979;
    color: white;
}

h1 {
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

/* Navigation menu styling */
.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 15px;
    display: block;
}

.nav-menu a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Main content styling */
main {
    padding: 20px;
    text-align: center;
}

img {
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Rules box styling */
.week-box {
    background-color: dimgray;
    color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 640px; /* Adjust to be slightly wider than the image */
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.rules-box ol {
    margin: 0;
    padding-left: 20px;
    line-height: 1.6;
}
